<div class="day-picker">
	<button class="previous-week">
		<span class="icon icon-left-arrow"></span>
	</button>
	<button class="next-week">
		<span class="icon icon-right-arrow"></span>
	</button>
	<div class="day-picker-frame">
		<ul class="day-container">
			<li class="day is-disabled">
				<div>24/06</div> 月
			</li>
			<li class="day is-active">
				<div class="date">25/06</div> 火
			</li>
			<li class="day">
				<div class="date">26/06</div> 水
			</li>
			<li class="day">
				<div class="date">27/06</div> 木
			</li>
			<li class="day day-weekend">
				<div>24/06</div> 月
			</li>
			<li class="day day-weekend">
				<div class="date">25/06</div> 火
			</li>
			<li class="day">
				<div>24/06</div> 月
			</li>
			<li class="day">
				<div class="date">25/06</div> 火
			</li>
			<li class="day">
				<div class="date">26/06</div> 水
			</li>
			<li class="day">
				<div class="date">27/06</div> 木
			</li>
			<li class="day">
				<div>24/06</div> 月
			</li>
			<li class="day">
				<div class="date">25/06</div> 火
			</li>
			<li class="day">
				<div>24/06</div> 月
			</li>
			<li class="day">
				<div class="date">25/06</div> 火
			</li>
			<li class="day">
				<div class="date">26/06</div> 水
			</li>
			<li class="day">
				<div class="date">27/06</div> 木
			</li>
			<li class="day">
				<div>24/06</div> 月
			</li>
			<li class="day">
				<div class="date">25/06</div> 火
			</li>
		</ul>
	</div>
</div>