<div class="day-picker">
	<button class="previous-week"></button>
	<button class="next-week"></button>
	<div class="day-picker-frame">
		<ul class="days">
			<li class="day disabled">
				<div>24/06</div> 月
			</li>
			<li class="day active">
				<div class="date">25/06</div> 火
			</li>
			<li class="day">
				<div class="date">26/06</div> 水
			</li>
			<li class="day">
				<div class="date">27/06</div> 木
			</li>
			<li class="day">
				<div>24/06</div> 月
			</li>
			<li class="day">
				<div class="date">25/06</div> 火
			</li>
			<li class="day">
				<div>24/06</div> 月
			</li>
			<li class="day">
				<div class="date">25/06</div> 火
			</li>
			<li class="day">
				<div class="date">26/06</div> 水
			</li>
			<li class="day">
				<div class="date">27/06</div> 木
			</li>
			<li class="day">
				<div>24/06</div> 月
			</li>
			<li class="day">
				<div class="date">25/06</div> 火
			</li>
			<li class="day">
				<div>24/06</div> 月
			</li>
			<li class="day">
				<div class="date">25/06</div> 火
			</li>
			<li class="day">
				<div class="date">26/06</div> 水
			</li>
			<li class="day">
				<div class="date">27/06</div> 木
			</li>
			<li class="day">
				<div>24/06</div> 月
			</li>
			<li class="day">
				<div class="date">25/06</div> 火
			</li>
		</ul>
	</div>
</div>