<header>
	<section class="primary-nav">
		<div class="title-bar" data-responsive-toggle="main-menu" data-hide-for="extramedium">
			<button class="menu-icon" type="button" data-toggle></button>
			<div class="title-bar-title">Reallyenglish</div>
		</div>
		<div class="container">
			<nav class="top-bar" id="main-menu">
				<div class="top-bar-left">
					<ul class="dropdown menu" data-dropdown-menu>
						<li class="menu-text">Reallyenglish</li>
					</ul>
				</div>
				<div class="top-bar-right">
					<ul class="menu" data-responsive-menu="drilldown extramedium-dropdown">
						<li class="active"><a href="/">Home</a></li>
						<li><a data-open="skypeModal1">Orientation</a></li>
						<li><a href="booking.html">Book a lesson</a></li>
						<li><a href="how-to-study.html">How to study</a></li>
						<li><a href="#">Change Skype ID</a></li>
						<li><a data-open="feedbackModal">Send Feedback</a></li>
						<li><a href="#">My page</a></li>
					</ul>
				</div>
			</nav>
		</div>
	</section>
	<section class="row row-alt">
		<div class="container">
			<div class="hide-for-small-only medium-4 large-3 columns">
				<img src="assets/images/eztotalk-logo.gif">
			</div>
			<div class="small-12 medium-8 large-5 large-offset-4 columns">
				<section class="credit-status row">
					<div class="remaining-total small-6 columns text-align-left">
						<div class="row">
							<div class="small-3 columns">
								<p class="status">26</p>
							</div>
							<div class="small-9 columns">
								<p>credits <br> remaining</p>
							</div>
						</div>
					</div>
					<div class="remaining-total small-6 columns">
						<div class="row">
							<div class="small-3 columns">
								<p class="status">26</p>
							</div>
							<div class="small-9 columns">
								<p>speaking <br>lessons to go</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
</header>