<ul class="pagination text-center" role="navigation" aria-label="Pagination">
	<li class="pagination-previous"><a href="#" aria-label="First page">First</a></li>
	<li><a href="#" aria-label="Previous page">Prev</a></li>
	<li><a href="#" aria-label="Page 1">1</a></li>
	<li><a href="#" aria-label="Page 2">2</a></li>
	<li><a href="#" aria-label="Page 3">3</a></li>
	<li class="current"><span class="show-for-sr">You're on page</span> <a>4</a></li>
	<li><a href="#" aria-label="Page 5">5</a></li>
	<li><a href="#" aria-label="Page 6">6</a></li>
	<li><a href="#" aria-label="Page 7">7</a></li>
	<li><a href="#" aria-label="Page 8">8</a></li>
	<li class="ellipsis"></li>
	<li><a href="#" aria-label="Page 28">28</a></li>
	<li><a href="#" aria-label="Next page">Next</a></li>
	<li class="pagination-next"><a href="#" aria-label="Last page">Last</a></li>
</ul>