@font-face {
  font-family: ProximaNova;
  src: font-url('Proxima-Nova/Proxima-Nova-Regular.otf', false, false) format('opentype');
}

@font-face {
  font-family: ProximaNova;
  src: font-url('Proxima-Nova/Proxima-Nova-Bold.otf', false, false) format('opentype');
  font-weight: 700;
}

html,
body {
  font-size: 100%;
  line-height: 1.375rem;
}

body {
  background-color: #e5e5e5;
}

@include breakpoint(small only) {
  .body-wrapper {
    max-width: 100%;
    padding: 1rem 0;

    > h2 {
      margin: 0 1.5rem 1rem;
    }

    .col-wrap-margin {
      margin-bottom: 1rem;
    }
  }

  .header-row > .row {
    padding: 1rem;
  }

  .progress {
    margin-bottom: 1rem;
  }
}
