.font-weight-bold {
  font-weight: 700;
}

.text-align-left {
  text-align: left !important;
}

.text-align-right {
  text-align: right !important;
}

.text-align-center {
  text-align: center !important;
}

.text-underline {
  text-decoration: underline;
}

.text-primary {
  color: $primary-color;
}

.text-secondary {
  color: $secondary-color;
}

.text-header-alt {
  color: $anchor-color;
}

//TODO: Write mixin for this
.margin-bottom-0 {
  margin-bottom: 0 !important;
}

.margin-bottom-1 {
  margin-bottom: 1rem !important;
}

.margin-bottom-2 {
  margin-bottom: 2rem !important;
}

.margin-top-1 {
  margin-top: 1rem !important;
}

.padding-top-1 {
  padding-top: 1rem !important;
}
