.font-weight-bold {
  font-weight: 700;
}

.text-align-left {
  text-align: left !important;
}

.text-align-center {
  text-align: center !important;
}

.text-underline {
  text-decoration: underline;
}

.text-primary {
  color: $primary-color;
}

.text-secondary {
  color: $secondary-color;
}

.text-header-alt {
  color: $header-alt-color;
}
