body {
	background-color: #E5E5E5;
}
header .row,
#body {
	padding: 1rem 3rem;
	max-width: 62.5rem;
	margin: 0 auto;
}

//TODO: move to grid scss
.row {
	.column {
		&.align-center {
			text-align: center;
		}
		&.align-right {
			text-align: right;
		}
	}

	&.white {
		background-color: #fff;
	}
}

//Move to mixins
@mixin calc($key, $value) {
  #{$key}: -webkit-calc(#{$value});
  #{$key}: -moz-calc(#{$value});
  #{$key}: calc(#{$value});
}

//Move to progress
.progress {
	&[aria-valuenow="10"] {
		.progress-meter {
			width: 10%;
		}
	}

	&[aria-valuenow="60"] {
		.progress-meter {
			width: 60%;
		}
	}

	&[aria-valuenow="90"] {
		.progress-meter {
			width: 90%;
		}
	}
}

@include breakpoint(small only) {
	#body {
		max-width: 100%;
		padding: 1rem 0;

		& > h2 {
			margin: 0 1.5rem 1rem 1.5rem;
		}

		.col-wrap-margin {
			margin-bottom: 1rem;
		}
	}


	.progress {
		margin-bottom: 1rem;
	}
}