//Spacing
$max-size: 2;
$spacing-variations: (padding, margin);
$orientations: (top, bottom, left, right);

@for $i from 0 through $max-size {
  @each $spacing in $spacing-variations {
    @each $orientation in $orientations {
      .#{$spacing}-#{$orientation}-#{$i} {
        #{$spacing}-#{$orientation}: #{$i}rem !important;
      }
    }
  }
}

//Progress Widths
@mixin progress-checkpoint-spacing {
  $j: 0;
  @while $j <= 100 {
    .progress-checkpoint-#{$j} {
      left: calc(#{$j}% - #{$progress-checkpoint-size} / 2);
    }

    $j: $j + 10;
  }
}

@mixin progress-widths {
  $j: 0;
  @while $j <= 10 {

    &[aria-valuenow="#{$j * 10}"] {
      .progress-meter {
        width: percentage($j / 10);
      }
    }

    $j: $j + 1;
  }
}
