.blue {
	color: $primary-color;
}

a {
	text-decoration: none;
	color: #167aa2;

	&.grey {
		color: #717576;
	}
}

.bold {
	font-weight: 700;
}

.underline {
	text-decoration: underline;
}

.center {
	text-align: center;
}

.right {
	text-align: right;
}

p.intro {
	font-size: 1.2rem;
}

h1, h2, h3, h4, h5, h6 {
	&.alt {
		color: $header-alt-color;
	}
}
