.blue {
  color: $primary-color;
}

a {
  &.grey {
    color: #717576;
  }

  &.block-link {
    margin-bottom: 1rem;
    display: inline-block;
  }
}

.bold {
  font-weight: 700;
}

.underline {
  text-decoration: underline;
}

.center {
  text-align: center;
}

.right {
  text-align: right;
}

.intro {
  font-size: 1.2rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  &.alt {
    color: $header-alt-color;
  }
}
