<div class="callout callout-info radius row small-collapse medium-uncollapse lesson-row">
	<div class="medium-1 columns">
		<span class="speaking-icon"></span>
	</div>
	<div class="medium-5 columns title"><strong>Good Food</strong></div>
	<div class="medium-2 medium-offset-3 columns">Grammar</div>
	<div class="medium-1 small-collapse large-uncollapse columns">
		<a href="#" class="font-weight-bold">PDF</a>
		<span class="download-icon"></span>
	</div>
</div>
<div class="callout callout-info radius row small-collapse medium-uncollapse lesson-row highlight-blue">
	<div class="medium-2 medium-offset-1 columns">
		<img class="avatar" src="assets/images/avatar.png">
		Simon
	</div>
	<div class="medium-3 columns title"></div>
	<div class="medium-4 columns">
		<span class="calendar-icon"></span>
		<time>14:30pm <strong>Fri 2 July 2016</strong></time>
	</div>
	<div class="medium-3 small-collapse large-uncollapse columns">
		<a href="#" class="text-secondary text-underline font-weight-bold">Cancel</a>
	</div>
</div>