<div class="panel-white radius row small-collapse medium-uncollapse lesson-row">
	<div class="small-2 medium-1 columns">
		<span data-tooltip aria-haspopup="true" class="has-tip top" data-tooltip-class="{{#lowerCase}}{{this.category}}{{/lowerCase}} tooltip" title={{this.category}}>
			<span class="{{#lowerCase}}{{this.category}}{{/lowerCase}}-icon"></span>
		</span>
	</div>
	<div class="small-9 medium-5 columns title">
		<strong>{{this.name_en}}</strong> <br>
		{{this.name_ja}}
	</div>
	<div class="small-7 small-offset-2 medium-offset-0 medium-3 columns">{{this.topic_ja}} <br> {{this.subtopic_ja}}</div>
	<div class="small-3 medium-2 columns">事前学習</div>
	<div class="small-offset-10 small-2 medium-offset-0 medium-1 small-collapse large-uncollapse columns float-left">
		<span data-tooltip aria-haspopup="true" class="has-tip top" data-disable-hover="true" tabindex="2" title="To take this lesson, please open Pe6 from your Mypage, and search for this lesson.">
			<a href="#" class="button small circle white alt help right"></a>
		</span>
	</div>
</div>