<div class="panel-white radius row small-collapse medium-uncollapse lesson-row">
	<div class="small-2 medium-1 columns">
		<span class="speaking-icon"></span>
	</div>
	<div class="small-6 medium-5 columns title"><strong>{{this.name_en}}</strong></div>
	<div class="small-6 medium-offset-3 medium-2 columns">スピーキング</div>
	<div class="small-offset-10 small-2 medium-offset-0 medium-1 small-collapse large-uncollapse columns">
		<a href="#" class="bold">PDF</a>
		<span class="download-icon hide-for-medium"></span>
	</div>
</div>
<div class="panel-white radius row small-collapse medium-uncollapse lesson-row">
	<div class="small-offset-2 small-10 medium-3 medium-offset-1 columns">
		<img class="avatar hide-for-small-only" src="assets/images/avatar.png">
		Simon
	</div>
	<div class="small-offset-2 small-10 medium-4 medium-offset-2 columns">
		<span class="calendar-icon hide-for-small-only"></span>
		<time>11:30pm <strong> 02/07/2016</strong></time>
	</div>
	<div class="medium-2 large-1 large-offset-1 small-collapse large-uncollapse columns text-right">
		<a href="#" class="grey underline bold">Cancel</a>
	</div>
</div>