<div class="is-unbooked lesson-set">
	<div class="row">
		<div class="shrink columns lesson-label">ユニット 3</div>
	</div>
	<div class="callout callout-info lesson row small-collapse medium-uncollapse">
		<div class="small-2 medium-1 columns">
			<span class="icon icon-grammar"></span>
		</div>
		<div class="small-9 medium-5 columns title">
			<strong>Everyday questions</strong>
			<br>
			日常的な質問１
		</div>
		<div class="small-7 small-offset-2 medium-offset-0 medium-3 columns">
			疑問文
			<br>
			Wh-疑問文
		</div>
		<div class="small-8 small-offset-2 medium-offset-0 medium-2 columns">
			事前学習
		</div>
		<div class="small-2 small-offset-10 medium-offset-0 medium-1 small-collapse large-uncollapse columns float-left">
			<span aria-haspopup="true" class="has-tip top" data-disable-hover="true" data-tooltip="k8ted8-tooltip" tabindex="2" title="" aria-describedby="isvw5g-tooltip" data-yeti-box="isvw5g-tooltip" data-toggle="isvw5g-tooltip" data-resize="isvw5g-tooltip" data-events="resize">
				<a class="button button-circle button-alt" href="javascript:void(0);">
					<span class="icon icon-question-mark"></span>
				</a>
			</span>
		</div>
	</div>
	<div class="callout callout-info row small-collapse medium-uncollapse lesson">
		<div class="small-2 medium-1 columns">
			<span class="icon icon-speaking"></span>
		</div>
		<div class="small-10 medium-5 columns title">
			<strong>Everyday questions</strong>
		</div>
		<div class="small-10 small-offset-2 medium-offset-0 medium-4 large-offset-3 large-2 columns">
			英会話レッスン
		</div>
		<div class="small-offset-10 small-2 medium-offset-0 medium-1 small-collapse large-uncollapse columns">
			<a class="font-weight-bold" href="/pdfs/ja/Basic_Unit03.pdf" target="_blank">PDF</a>
			<span class="icon icon-download hide-for-medium-only"></span>
		</div>
	</div>
	<div class="callout callout-info lesson row small-collapse medium-uncollapse">
		<div class="small-2 medium-1 columns">
			<span class="icon icon-grammar"></span>
		</div>
		<div class="small-9 medium-5 columns title">
			<strong>General knowledge</strong>
			<br>
			日常的な質問２
		</div>
		<div class="small-7 small-offset-2 medium-offset-0 medium-3 columns">
			疑問文
			<br>
			Wh-疑問文
		</div>
		<div class="small-8 small-offset-2 medium-offset-0 medium-2 columns">
			応用学習
		</div>
		<div class="small-2 small-offset-10 medium-offset-0 medium-1 small-collapse large-uncollapse columns float-left">
			<span aria-haspopup="true" class="has-tip top" data-disable-hover="true" data-tooltip="9rjeti-tooltip" tabindex="2" title="" aria-describedby="icb9wl-tooltip" data-yeti-box="icb9wl-tooltip" data-toggle="icb9wl-tooltip" data-resize="icb9wl-tooltip" data-events="resize">
				<a class="button button-circle button-alt" href="javascript:void(0);">
					<span class="icon icon-question-mark"></span>
				</a>
			</span>
		</div>
	</div>
</div>
<div class="is-unbooked-business lesson-set">
	<div class="row">
		<div class="shrink columns lesson-label">ユニット 3</div>
	</div>
	<div class="callout callout-info lesson row small-collapse medium-uncollapse">
		<div class="small-2 medium-1 columns">
			<span class="icon icon-grammar"></span>
		</div>
		<div class="small-9 medium-5 columns title">
			<strong>Everyday questions</strong>
			<br>
			日常的な質問１
		</div>
		<div class="small-7 small-offset-2 medium-offset-0 medium-3 columns">
			疑問文
			<br>
			Wh-疑問文
		</div>
		<div class="small-8 small-offset-2 medium-offset-0 medium-2 columns">
			事前学習
		</div>
		<div class="small-2 small-offset-10 medium-offset-0 medium-1 small-collapse large-uncollapse columns float-left">
			<span aria-haspopup="true" class="has-tip top" data-disable-hover="true" data-tooltip="k8ted8-tooltip" tabindex="2" title="" aria-describedby="isvw5g-tooltip" data-yeti-box="isvw5g-tooltip" data-toggle="isvw5g-tooltip" data-resize="isvw5g-tooltip" data-events="resize">
				<a class="button button-circle button-alt" href="javascript:void(0);">
					<span class="icon icon-question-mark"></span>
				</a>
			</span>
		</div>
	</div>
	<div class="callout callout-info row small-collapse medium-uncollapse lesson">
		<div class="small-2 medium-1 columns">
			<span class="icon icon-speaking"></span>
		</div>
		<div class="small-10 medium-5 columns title">
			<strong>Everyday questions</strong>
		</div>
		<div class="small-10 small-offset-2 medium-offset-0 medium-4 large-offset-3 large-2 columns">
			英会話レッスン
		</div>
		<div class="small-offset-10 small-2 medium-offset-0 medium-1 small-collapse large-uncollapse columns">
			<a class="font-weight-bold" href="/pdfs/ja/Basic_Unit03.pdf" target="_blank">PDF</a>
			<span class="icon icon-download hide-for-medium-only"></span>
		</div>
	</div>
	<div class="callout callout-info lesson row small-collapse medium-uncollapse">
		<div class="small-2 medium-1 columns">
			<span class="icon icon-grammar"></span>
		</div>
		<div class="small-9 medium-5 columns title">
			<strong>General knowledge</strong>
			<br>
			日常的な質問２
		</div>
		<div class="small-7 small-offset-2 medium-offset-0 medium-3 columns">
			疑問文
			<br>
			Wh-疑問文
		</div>
		<div class="small-8 small-offset-2 medium-offset-0 medium-2 columns">
			応用学習
		</div>
		<div class="small-2 small-offset-10 medium-offset-0 medium-1 small-collapse large-uncollapse columns float-left">
			<span aria-haspopup="true" class="has-tip top" data-disable-hover="true" data-tooltip="9rjeti-tooltip" tabindex="2" title="" aria-describedby="icb9wl-tooltip" data-yeti-box="icb9wl-tooltip" data-toggle="icb9wl-tooltip" data-resize="icb9wl-tooltip" data-events="resize">
				<a class="button button-circle button-alt" href="javascript:void(0);">
					<span class="icon icon-question-mark"></span>
				</a>
			</span>
		</div>
	</div>
</div>
<section class="lesson-set">
	<div class="row">
		<h1 class="shrink columns lesson-label">Lesson {{this.unit}}</h1>
	</div>
	{{> curriculum-lesson}}
	{{> lesson highlightClass="is-booked"}}
	{{> curriculum-lesson}}
</section>