<div class="row callout callout-info callout-bordered">
		<div class="columns">
			<h4 class="margin-bottom-0" id="e-learning-course">Taking the e-learning course</h4>
		</div>
	</div>
	<div class="callout callout-info callout-bordered">
		<div class="row">
			<div class="columns small-11">
				<h5 class="margin-bottom-0 text-header-alt font-weight-bold">Can I take more than one lesson at a time for self learning?</h5>
			</div>
			<div class="columns small-1">
				<span class="icon icon-show-answer"></span>
			</div>
		</div>
		<div class="row faq-answer hide padding-top-1">
			<div class="columns">
				<p>We recommend you take lessons in the assigned order because EZ to Talk is designed to help you learn English in the most efficient way by taking the lessons in the correct sequence. You are also required to show what you have learned on your assigned e-learning lessons when you take your online speaking lessons.
				</p>
			</div>
		</div>
	</div>
	<div class="callout callout-info callout-bordered">
		<div class="row">
			<div class="columns small-11">
				<h5 class="margin-bottom-0 text-header-alt font-weight-bold">The lesson program I tried to take does not seem to work correctly. It seems to have some technical problems. What should I do?</h5>
			</div>
			<div class="columns small-1">
				<span class="icon icon-show-answer"></span>
			</div>
		</div>
		<div class="row faq-answer hide padding-top-1">
			<div class="columns">
				<p>Refer to the <a>Help</a> page.
				</p>
			</div>
		</div>
	</div>