<div class="row callout callout-info callout-bordered">
	<div class="columns">
		<h5 class="faq-heading" id="manage-speaking">オンライン英会話レッスンの予約を管理する</h5>
	</div>
</div>
<div class="callout callout-info callout-bordered">
	<div class="row">
	<div class="columns small-11">
			<h5 class="text-header-alt font-weight-bold">How long is one speaking lesson?</h5>
		</div>
		<div class="small-1 columns">
			<span class="show-answer"></span>
		</div>
	</div>
	<div class="row faq-answer hide">
		<div class="columns">
			<p>One speaking lesson takes 25 minutes.
			</p>
		</div>
	</div>
</div>
<div class="callout callout-info callout-bordered">
	<div class="row">
	<div class="columns small-11">
			<h5 class="text-header-alt font-weight-bold">How many speaking lessons can I take on this course?</h5>
		</div>
		<div class="small-1 columns">
			<span class="show-answer"></span>
		</div>
	</div>
	<div class="row faq-answer hide">
		<div class="columns">
			<p>TBC</p>
		</div>
	</div>
</div>
<div class="callout callout-info callout-bordered">
	<div class="row">
	<div class="columns small-11">
			<h5 class="text-header-alt font-weight-bold">How do I book an online speaking lesson?</h5>
		</div>
		<div class="small-1 columns">
			<span class="show-answer"></span>
		</div>
	</div>
	<div class="row faq-answer hide">
		<div class="columns">
			<p>Refer to Step XX, XX, XX of <a>Get started</a></p>
		</div>
	</div>
</div>
<div class="callout callout-info callout-bordered">
	<div class="row">
	<div class="columns small-11">
			<h5 class="text-header-alt font-weight-bold">How far in advance must I book an online speaking lesson?</h5>
		</div>
		<div class="small-1 columns">
			<span class="show-answer"></span>
		</div>
	</div>
	<div class="row faq-answer hide">
		<div class="columns">
			<p>You can book a lesson up to 5 minutes before its scheduled start time.</p>
		</div>
	</div>
</div>
<div class="callout callout-info callout-bordered">
	<div class="row">
	<div class="columns small-11">
			<h5 class="text-header-alt font-weight-bold">Are there any closing days for lessons?</h5>
		</div>
		<div class="small-1 columns">
			<span class="show-answer"></span>
		</div>
	</div>
	<div class="row faq-answer hide">
		<div class="columns">
			<p>Lessons are closed on public holidays in the Philippines and some public holidays in Japan. You can not book lessons on closed days on the booking system. Lessons might also close at short notice in the event of a typhoon or any other incident in the Philippines. If it happens, we will put an alert on the login page and lessons booked on that day will be canceled by the instructors.
			</p>
		</div>
	</div>
</div>
<div class="callout callout-info callout-bordered">
	<div class="row">
	<div class="columns small-11">
			<h5 class="text-header-alt font-weight-bold">How many speaking lessons can I book at a time?</h5>
		</div>
		<div class="small-1 columns">
			<span class="show-answer"></span>
		</div>
	</div>
	<div class="row faq-answer hide">
		<div class="columns">
			<p>If you want to book from the next day onwards of the lesson day, you can book up to 3 lessons per day. "A day" means from 1 a.m. of that day to 1 a.m. of the next day. If you want to book lessons on the current day, you can book as many as you want within the amount you can take on your course.
			</p>
		</div>
	</div>
</div>
<div class="callout callout-info callout-bordered">
	<div class="row">
	<div class="columns small-11">
			<h5 class="text-header-alt font-weight-bold">Will I take lessons without a break if I book 2 or more lessons back-to-back?</h5>
		</div>
		<div class="small-1 columns">
			<span class="show-answer"></span>
		</div>
	</div>
	<div class="row faq-answer hide">
		<div class="columns">
			<p>When successive lessons are booked, 5 minutes break is taken after eac lesson has finished. If you want to take lessons continuously without a break, ask your instructor when you start the lesson.
			</p>
		</div>
	</div>
</div>
<div class="callout callout-info callout-bordered">
	<div class="row">
	<div class="columns small-11">
			<h5 class="text-header-alt font-weight-bold">How many weeks of each teacher's schedule are available to book?</h5>
		</div>
		<div class="small-1 columns">
			<span class="show-answer"></span>
		</div>
	</div>
	<div class="row faq-answer hide">
		<div class="columns">
			<p>Teachers' schedules for the next month are open to book, and they are updated every day.
			</p>
		</div>
	</div>
</div>
<div class="callout callout-info callout-bordered">
	<div class="row">
	<div class="columns small-11">
			<h5 class="text-header-alt font-weight-bold">How do I check my booking history?</h5>
		</div>
		<div class="small-1 columns">
			<span class="show-answer"></span>
		</div>
	</div>
	<div class="row faq-answer hide">
		<div class="columns">
			<p>Click the "Booked lessons" button and "Current" "Completed" "Incomplete" "Cancelled" bookings are listed separately.
			</p>
		</div>
	</div>
</div>
<div class="callout callout-info callout-bordered">
	<div class="row">
	<div class="columns small-11">
			<h5 class="text-header-alt font-weight-bold">How do I cancel my booking?</h5>
		</div>
		<div class="small-1 columns">
			<span class="show-answer"></span>
		</div>
	</div>
	<div class="row faq-answer hide">
		<div class="columns">
			<p>The procedure is as below.</p>
			<ol>
				<li>Go to "Current booking" by clicking "Booked lessons" (or look at your "Study tasks"), find the lesson you want to cancel, and click the "Cancel" link</li>
				<li>Click "OK" button.</li>
			</ol>
			<p>The cancelation will be confirmed, the notification mail is sent to your registered email address and the cancelled booking is listed on "Cancelled" tab of the "Booked lessons" page. Please confirm your cancelation.
			</p>
		</div>
	</div>
</div>
<div class="callout callout-info callout-bordered">
	<div class="row">
	<div class="columns small-11">
			<h5 class="text-header-alt font-weight-bold">How much notice must I give to cancel my booking?</h5>
		</div>
		<div class="small-1 columns">
			<span class="show-answer"></span>
		</div>
	</div>
	<div class="row faq-answer hide">
		<div class="columns">
			<p>You can cancel your lessons up to 3 hours before the start time of the lesson. You cannot cancel after 3 hours before the start time. If you miss the lesson without cancelation, the booking is processed as "Incompleted" and you lose one of the remaining number of credits to take lessons on your course, which will be the same as if the lesson has completed.
			</p>
		</div>
	</div>
</div>
<div class="callout callout-info callout-bordered">
	<div class="row">
	<div class="columns small-11">
			<h5 class="text-header-alt font-weight-bold">How can I check the remaining amount of speaking lessons?</h5>
		</div>
		<div class="small-1 columns">
			<span class="show-answer"></span>
		</div>
	</div>
	<div class="row faq-answer hide">
		<div class="columns">
			<p>TBC</p>
		</div>
	</div>
</div>