<div class="row panel-white bordered">
	<div class="columns">
		<h4 class="faq-heading" id="others">Others</h4>
	</div>
</div>
<div class="panel-white bordered">
	<div class="row $global-max-width">
	<div class="columns small-11">
			<h5 class="question">I receive messages or contact requests from strangers on Skype. Why did it happen and what should I handle those?</h5>
		</div>
		<div class="small-1 columns">
			<span class="show-answer"></span>
		</div>
	</div>
	<div class="row faq-answer">
		<div class="columns">
			<p>You may receive spam on Skype if you do not change the configuration of privacy on Skype. These are like spam mail sent to your email address, but they don't imply a security incident like an information leak. You can learn how to control spam on the official Skype website (<a>http://blogs.skype.com/2012/08/23/skype-skype101/</a>).</p>
		</div>
	</div>
</div>
<div class="panel-white bordered">
	<div class="row $global-max-width">
	<div class="columns small-11">
			<h5 class="question">I already have a private account for the online speaking course. Is it possible to take EZ to Talk by using this account?</h5>
		</div>
		<div class="small-1 columns">
			<span class="show-answer"></span>
		</div>
	</div>
	<div class="row faq-answer">
		<div class="columns">
			<p>We provide online speaking course of EZ to Talk with QQ English, the online speaking service provided by Kyukyubin corp., however, you can not use your private QQ English account for EZ to Talk. You also cannot integrate the lesson histories and cannot take EZ to Talk lessons by using the points or membership fee belonging to your private account.
			</p>
		</div>
	</div>
</div>
<div class="panel-white bordered">
	<div class="row $global-max-width">
	<div class="columns small-11">
			<h5 class="question">After I complete EZ to Talk, I want to take another e-learning course or online speaking course in private in order to improve my English skills further. What should I do?</h5>
		</div>
		<div class="small-1 columns">
			<span class="show-answer"></span>
		</div>
	</div>
	<div class="row faq-answer">
		<div class="columns">
			<p>You can buy our e-learning courses on the Reallyenglish web site and buy an online speaking course from the QQ English web site. However, you cannot use the account you used for EZ to Talk, so you will have to make a new user account. (Your user account for EZ to Talk will be deleted after a certain period of time.)
			</p>
		</div>
	</div>
</div>
<div class="panel-white bordered">
	<div class="row $global-max-width">
	<div class="columns small-11">
			<h5 class="question">Need more help?</h5>
		</div>
		<div class="small-1 columns">
			<span class="show-answer"></span>
		</div>
	</div>
	<div class="row faq-answer">
		<div class="columns">
			<p>Please use the "report a problem" form to contact Reallyenglish support.</p>
		</div>
	</div>
</div>