<div class="row panel-white bordered">
	<div class="columns">
		<h4 class="faq-heading">Preparation</h4>
	</div>
</div>
<div class="panel-white bordered">
	<div class="row test">
		<div class="small-11 columns">
			<h5 class="question">How should I take lessons?</h5>
		</div>
		<div class="small-1 columns">
			<button class="button light-grey round show-answer">+</button>
		</div>
	</div>
	<div class="row faq-answer">
		<div class="columns">
			<p><span class="underline">If your e-learning course name does NOT include the word "FULL"</span> <br>
				Refer to <a>Get started</a> (link to guidance page).
			</p>
			<p><span class="underline">If your e-learning course name includes the word "FULL"</span> <br>
				You can take all the e-learning course lessons besides the  EZ to Talk lessons. Please check the following for the effective learning of both courses.
			</p>

			<section class="steps-list">
				<h5 class="step-heading">Preparation</h5>
				<ol class="steps">
					<li>Go back to MyPage and click the "start lesson" button of the e-learning course.</li>
					<li>If you are required to create a Learning Path, take the Diagnostic Test and create your Learning Path by following the instructions on the screen.</li>
				</ol>
				<h5 class="step-heading">How to take the EZ to Talk lessons</h5>
				<p><a>Get started</a> shows the basic process to take the lessons. However, please follow the process shown in Step XX (how to proceed with your self-learning) of <a>Get started</a>.
				</p>
				<ol>
					<li>On Study tasks, find the lesson you need and download the PDF teaching materials. Make a note of the lesson title and whether it is Grammar, Reading or Listening.</li>
					<li>Go back to MyPage and click the "start lesson" button on your  e-learning course.</li>
					<li>Click "All activities" on the top of the page.</li>
					<li>Click the correct tab for Grammar, Reading or Listening on the top right of the page.</li>
					<li>Search for the same lesson by entering the lesson title, (which you made a note of beforehand) into the search bar.</li>
				</ol>
				<p>The lesson you need will be listed, so start the lesson. If you have already taken that lesson on the following e-learning course, we recommend taking the same lesson again as preparation or follow-up to your online speaking lessons.
				</p>
				<h5 class="step-heading">How to take the lessons of the e-learning course</h5>
				<p>You can take a lesson from either your Learning Path or from All Lessons. The Learning Path is your own personalized program of recommended lessons. All Lessons is where you can choose a lesson on a topic that interests you.</p>
				<ol>
					<li>Go back to MyPage and click the "start lesson" button on your e-learning course.</li>
					<li>Take lessons in the order designed by your Learning Path</li>
				</ol>
			</section>
		</div>
	</div>
</div>
<div class="panel-white bordered">
	<div class="row align-middle">
		<div class="columns small-11">
			<h5 class="question">What is Skype?</h5>
		</div>
		<div class="columns small-1">
			<button class="button light-grey round show-answer">+</button>
		</div>
	</div>
	<div class="row faq-answer">
		<div class="columns">
			<p>Skype is a software which makes it possible to talk with people remotely, free of charge, to make a video call with your computer's camera, and to have a text chat via the internet.</p>
		</div>
	</div>
</div>
<div class="panel-white bordered">
	<div class="row align-middle">
		<div class="columns small-11">
			<h5 class="question">What devices do I need to prepare for my Skype lessons?</h5>
		</div>
		<div class="columns small-1">
			<button class="button light-grey round show-answer">+</button>
		</div>
	</div>
	<div class="row faq-answer">
		<div class="columns">
			<p>You will need:</p>
			<ul class="dash-list">
				<li>an internet connected PC with Skype installed</li>
				<li>a headset or a set with a mic and speaker</li>
				<li>a Skype ID (also called Skype Account)</li>
			</ul>
			<ul>
				<li>Please use a stable internet line when you take online speaking lessons. If you take lessons on unstable internet line when you take online speaking lessons. If you take lessons on un-stable Wi-Fi or channels provided by mobile phone carrier, the connection may be interrupted.</li>
				<li>If you already have ahave already ha d your Skype ID, you can use it. If not, you musthave to create a new ID.</li>
				<li>We recommend getting a web camera in order to enhance yourto prepare web camera in order to enhance a learning,  effect if your PC does not have one.</li>
			</ul>
		</div>
	</div>
</div>
<div class="panel-white bordered">
	<div class="row align-middle">
		<div class="columns small-11">
			<h5 class="question">How can I get Skype and Skype ID?</h5>
		</div>
		<div class="columns small-1">
			<button class="button light-grey round show-answer">+</button>
		</div>
	</div>
	<div class="row faq-answer">
		<div class="columns">
			<p>Refer to <a>Get Skype</a> in Orientation.</p>
		</div>
	</div>
</div>
<div class="panel-white bordered">
	<div class="row align-middle">
		<div class="columns small-11">
			<h5 class="question">I want to change my Skype ID for online speaking lessons. How can I change it?</h5>
		</div>
		<div class="columns small-1">
			<button class="button light-grey round show-answer">+</button>
		</div>
	</div>
	<div class="row faq-answer">
		<div class="columns">
			<p>Click "Change Skype ID" on the top of the page, input your correct "Skype ID" into the box, and save it. Please note that this process allows you only to change which Skype ID you want to use for your online speaking lessons, and does not allow to change your Skype ID registered to Skype itself.
			</p>
		</div>
	</div>
</div>
<div class="panel-white bordered">
	<div class="row align-middle">
		<div class="columns small-11">
			<h5 class="question">How can I get Skype and Skype ID?</h5>
		</div>
		<div class="columns small-1">
			<button class="button light-grey round show-answer">+</button>
		</div>
	</div>
	<div class="row faq-answer">
		<div class="columns">
			<p>The Speaking Course page will allow you to:</p>
			<ol>
				<li>Find out how to learn.</li>
				<li>Resolve questions you have about your learning.</li>
				<li>Check your study tasks (e.g. the order of e-learning lessons you should take, and the theme of your online speaking lessons).</li>
				<li>Confirm what you should do next.</li>
				<li>Download the preparation materials for online speaking lessons.</li>
				<li>Book, confirm and cancel your online speaking lessons.</li>
				<li>Check the assessments for your online speaking lessons when they are graded by your instructor.</li>
				<li>Change the Skype ID you use for online speaking lessons.</li>
			</ol>
		</div>
	</div>
</div>
<div class="panel-white bordered">
	<div class="row align-middle">
		<div class="columns small-11">
			<h5 class="question">Can I take lessons on my smartphone?</h5>
		</div>
		<div class="columns small-1">
			<button class="button light-grey round show-answer">+</button>
		</div>
	</div>
	<div class="row faq-answer">
		<div class="columns">
			<p>You can take the e-learning course on smartphone app. Check the system requirements and notes about smartphone on the system requirement page. You can take online speaking lessons by Skype app for smartphone.
			</p>
			<p>However, we recommend to take online speaking lessons on your PC because the lesson preparation materials (PDF) should be besides you during the online speaking lesson and it is hard to operate both Skype and PDF on the small screen of a smartphone.
			</p>
		</div>
	</div>
</div>