<div class="row panel-white bordered">
	<div class="columns">
	<h4 class="faq-heading">Taking the online speaking course</h4>
	</div>
</div>
<div class="panel-white bordered">
	<div class="row">
		<div class="columns">
			<h5 class="question">Will I receive a reminder before the start time of my lesson?</h5>
		</div>
	</div>
	<div class="row">
		<div class="columns">
			<p>Yes, you will. You receive an email from the booking system on your registered email address, 30 minutes before the start time of the lesson. Note that you can not cancel after the allowed 3 hour cancellation time, even if you did not receive the reminder. We recommend that you confirm your schedule on this page frequently.
			</p>
		</div>
	</div>
</div>
<div class="panel-white bordered">
	<div class="row">
		<div class="columns">
			<h5 class="question">What should I prepare for speaking lessons?</h5>
		</div>
	</div>
	<div class="row">
		<div class="columns">
			<p>First, you have to study the assigned preparation lessons as Get started guides. Second, for starting the online lesson, you have to set up Skype as described below.</p>
			<ol>
				<li>Set up your head set or a set of mic and speaker on your PC or smartphone. Also set up the web camera, if needed.</li>
				<li>Start Skype on your PC or smartphone</li>
				<li>Input your Skype ID and password on Skype and sign in. You must create a Skype ID in advance.</li>
				<li>You should receive a contact request from the instructor if this is your first lesson with them. Be sure to approve the request before the lesson starts, otherwise the instructor can not contact you without your approval.</li>
				<li>Try the sound test to check your speaker and mic works correctly. How to carry out the sound test is documented on the official Skype website (https://support.skype.com/ja/faq/FA265/).</li>
			</ol>
			<p>Skype setup is now completed. How to start the lesson will be covered next.</p>
		</div>
	</div>
</div>
<div class="panel-white bordered">
	<div class="row">
		<div class="columns">
			<h5 class="question">How do I start a speaking lesson?</h5>
		</div>
	</div>
	<div class="row">
		<div class="columns">
			<p>You must prepare for the lesson before the start time. At the start time, you should receive the Skype call from the instructor. Answer the call and start the lesson.
			</p>
		</div>
	</div>
</div>
<div class="panel-white bordered">
	<div class="row">
		<div class="columns">
			<h5 class="question">What should I do if there is no call from the teacher at the start time of my lesson?</h5>
		</div>
	</div>
	<div class="row">
		<div class="columns">
			<p>Search the following Skype ID of the QQ English support, who manage the online speaking lesson system and call them on your Skype,  If you can not use Skype, contact the phone number below.</p>
			<p>*QQ English support</p>
			<ul>
				<li>Skype ID: qqe-support4</li>
				<li>Phone number: 050-5539-3040 (open from 9am - 8pm on weekdays, 12am - 5pm on Saturdays and Sundays, except for closing days)</li>
			</ul>
		</div>
	</div>
</div>
<div class="panel-white bordered">
	<div class="row">
		<div class="columns">
			<h5 class="question">What should I do if there is no call from the teacher at the start time of my lesson?</h5>
		</div>
	</div>
	<div class="row">
		<div class="columns">
			<p>You can start and take lesson until 15 minutes after the scheduled start time. The end time of your lesson is as scheduled, not extended. If you start more than 15 minutes after the scheduled start time, the booking is processed as "Incompleted" and you lose one of the remaining number of credits to lessons on your course, as if the lesson was completed.</p>
		</div>
	</div>
</div>
<div class="panel-white bordered">
	<div class="row">
		<div class="columns">
			<h5 class="question">The Skype call is not working. / The call is disconnected during the lesson.</h5>
		</div>
	</div>
	<div class="row">
		<div class="columns">
			<p>Check the following.</p>
			<ul>
				<li>Is the internet connection working?</li>
				<li>Is your headset or mic connected correctly?</li>
				<li>Does your PC or smartphone recognize your headset or mic?</li>
				<li>Is the volume too low small or muted?</li>
				<li>Are you logged-in to Skype correctly?</li>
				<li>Have you already approved the contact request from the instructor?</li>
			</ul>
			<p>In case of disconnection during the lesson, check the following.</p>
			<p><span class="underline">If you can not make a call from your end</span> <br>
				You should try restarting your PC.
			</p>

			<p><span class="underline">If you can call but the instructor can not answer or call</span> <br>
				The instructor has to check the situation. Wait until the instructor contacts you by Skype chat.
			</p>
			<p>If you cannot resolve the problem by the previous procedure, contact <a>QQ English support.</a></p>
		</div>
	</div>
</div>
<div class="panel-white bordered">
	<div class="row">
		<div class="columns">
			<h5 class="question">What will happen if I cannot get my lesson curriculum finished within the time frame (within 25 minutes)?</h5>
		</div>
	</div>
	<div class="row">
		<div class="columns">
			<p>The instructor should structure your lesson in order to finish the curriculum in 25 minutes. However, it might well happen you do not finish the curriculum because your learning of preparation lessons was not efficient. If it happens, the lesson time is not extended and you will get the assessment "1 - Fair" after the lesson.
			</p>
		</div>
	</div>
</div>
<div class="panel-white bordered">
	<div class="row">
		<div class="columns">
			<h5 class="question">What should I do if the amount of speaking lesson time I took is shorter than the time frame (25 minutes) due to troubles caused by the teacher's side?  (e.g. internet connection problem, teacher's being late)?</h5>
		</div>
	</div>
	<div class="row">
		<div class="columns">
			<p>We return one lesson's worth of credit if you speaking lesson is shorter than 20 minutes due to problems caused by the teacher's side. If this occurs and you request a lesson credit, contact Reallyenglish support (support-japan@reallyenglish.com), and report the following:</p>
			<ul>
				<li>Background of your request (explain the situation you have faced)</li>
				<li>Your user ID</li>
				<li>Date, sｓtart time and end time of the lesson</li>
				<li>Instructor's name</li>
			</ul>
			<p>After we have received your request, we will investigate the situation and will refund one lesson's worth of credit if we recognise the problem was caused by us. We will not refund you if you did not take the lesson due to troubles caused by your side. (e.g. internet connection problem of your side, or your being late)</p>
		</div>
	</div>
</div>
<div class="panel-white bordered">
	<div class="row">
		<div class="columns">
			<h5 class="question">My lesson has been cancelled even though I did not cancel it. What has happened?</h5>
		</div>
	</div>
	<div class="row">
		<div class="columns">
			<p>It is not common, but it could be that your booking is canceled by your instructor because of sickness, bad weather or troubles in the Philippines.</p>
		</div>
	</div>
</div>
<div class="panel-white bordered">
	<div class="row">
		<div class="columns">
			<h5 class="question">What is ​"1 - Fair", "2 - Good" or "3 - Excellent" shown by clicking <a>Show feedback</a>?</h5>
		</div>
	</div>
	<div class="row">
		<div class="columns">
			<p>These are the assessments of your skill which the instructor estimates in that lesson.</p>
			<ul>
				<li>3 - Excellent: understood, used and applied the key expressions well.</li>
				<li>2 - Good: understood and used the key expressions.</li>
				<li>1 - Fair: understood the key expressions, but more reviews will be needed for practical use.</li>
			</ul>
			<p>*Key expressions are those in the e-learning course.</p>
		</div>
	</div>
</div>