a.button,
button.button {

	font-size: 0.9rem;
	text-decoration: none;

	&.light-grey {
		background-color: #F3F3F3;
		color: $body-font-color;

		&.selected,
		&[aria-selected="true"] {
			background-color: #C7C7C7;
			box-shadow: inset 1px 1px 3px #8E8C8C;
		}

		&.bookmark-icon {
			background-image: url(../images/icons/bookmark.svg);
			background-size: 1rem 1rem;
			background-repeat: no-repeat;
			background-position: 10px 50%;
		}

		&.lamp-icon {
			background-image: url(../images/icons/lamp.svg);
			background-size: 1rem 1rem;
			background-repeat: no-repeat;
			background-position: 10px 50%;
		}

		&:hover {
			background-color: darken(#E8E8E8, 10%);
		}
	}

	&.yellow {
		background-color: #fffcef;
		color: $body-font-color;
	}

	&.disabled {
		background-color: $button-disabled-color;
	}

	&.radius {
		border-radius: 5px;
	}

	&.round {
		border-radius: 1000px;
	}

	&.small {
		padding: 1rem;
		height: 1rem;
		width: 1rem;
		display: inline-block;

		&.close {
			background-image: url(../images/icons/close-icon.svg);
			background-size: 0.75rem 0.75rem;
			background-repeat: no-repeat;
			background-position: 50% 50%;
		}
	}

	&.circle {
		border-radius: 50%;

		&.help {
			background-image: url(../images/icons/question.svg);
			background-size: 0.75rem 0.75rem;
			background-repeat: no-repeat;
			background-position: 50% 50%;
		}
	}

	&.arrow-down {
		background-image: url(../images/icons/arrow-down.svg);
		background-size: 0.5rem 0.5rem;
		background-repeat: no-repeat;

		&.on-right {
			background-position: 96% 50%;
			padding-right: 2rem;
		}

		&.center {
			background-position: 50% 50%;
		}
	}

	&.grey {
		background-color: $grey;
	}

	&.dark-grey {
		background-color: $darker-grey;
	}

	&.white {
		background-color: $white;
		color: #989898;

		&[aria-selected="true"] {
			color: #58595b;
			border: 2px solid #bbbdbf;
		}

		&.alt {
			color: #3babde;
			border: 2px solid #3babde;
		}
	}

	&.blue {
		background-color: #9bcbde;
		color: $white;
	}

	&.tick {
		background-image: url(../images/icons/white-tick.svg);
		background-size: 1rem 1rem;
		background-repeat: no-repeat;
		background-position: 50% 50%;
	}

	.title,
	.sub-text {
		display: block;
	}

	.title {
		font-size: 1rem;
		margin-bottom: 0.25rem;
	}

	.sub-text {
		font-size: 0.75rem;
	}
}
