.day-picker {
	.previous-week,
	.next-week {
		background-color: #e5e5e5;
		padding: 1.25rem 0.75rem;
		height: 4rem;
		width: 11.5555%;
		cursor: pointer;
	}

	.previous-week {
		text-align: right;
		margin-right: 0.25rem;
		float: left;
		background-image: url(../images/icons/scroll-arrow-left.svg);
		background-repeat: no-repeat;
		background-position: 50% 50%;
		background-size: 1.75rem 1.75rem;
	}

	.next-week {
		text-align: left;
		margin-left: 0.25rem;
		float: right;
		background-image: url(../images/icons/scroll-arrow-right.svg);
		background-repeat: no-repeat;
		background-position: 50% 50%;
		background-size: 1.75rem 1.75rem;
	}

	.day-picker-frame {
		height: 4rem;
		margin: 0 auto 1.5rem auto;
		width: 74.6%;
		padding: 0;

		ul.days {
			margin: 0;
			padding: 0;
			height: 100%;
			list-style: none;

			li {
				float: left;
				margin: 0 0.25rem 0 0;
				height: 100%;
				padding: 0.5rem 0;
				width: 5.61rem;
				cursor: pointer;

				&.day {
					background-color: #d3ebee;
					text-align: center;
					color: #939598;

					&.weekend {
						background-color: #cfdfee;
					}

					&.active {
						color: $white;
						background-color: #3babde;
					}

					&.disabled {
						background-color: #e5e5e5;
						color: #939598;
					}
				}
			}
		}
	}
}