.day-picker {
  .previous-week,
  .next-week {
    background-color: #e5e5e5;
    padding: 1.25rem 0.75rem;
    width: 11.5555%;
    cursor: pointer;
    text-align: center;
  }

  .previous-week {
    float: left;
  }

  .next-week {
    float: right;
  }
}

.day-picker-frame {
  height: 4rem;
  margin: 0 auto 1.5rem;
  width: 74%;
  padding: 0;

  .day-container {
    margin: 0;
    padding: 0;
    height: 100%;
    list-style: none;
  }

  .day {
    background-color: #d3ebee;
    text-align: center;
    color: $secondary-color;
    float: left;
    margin: 0 0.25rem 0 0;
    height: 100%;
    padding: 0.5rem 0;
    width: 5.61rem;
    cursor: pointer;

    &:hover {
      background-color: darken($booked-color, 8%);
    }

    &.is-disabled {
      background-color: #e5e5e5;
      color: #939598;
    }

    &.is-active {
      color: $white;
      background-color: #3babde;
    }

    &.is-weekend {
      background-color: #cfdfee;
    }
  }
}
