#faq {
	color: $body-font-color;

	.faq-heading {
		margin-bottom: 0;
	}

	.faq-contents {
		list-style: none;
		margin: 0 0 0 1.5rem;
	}

	.question {
		color: #167AA2;
		font-weight: 600;
	}

	.faq-answer {
		display: none;
	}

	.steps-list {
		.step-heading {
			margin-bottom: 0.5rem;
			font-size: 1rem;
			font-weight: 600;
		}

		.steps {
			margin-bottom: 1.5rem;
		}
	}

	.dash-list {
		list-style-type: none;
		margin-left: 0;
		padding-left: 1.25rem;

		> li:before {
			display: inline-block;
			content: "-";
			width: 1rem;
			margin-left: -1rem;
		}
	}
}