form {
	.is-invalid-input:not(:focus) {
		box-shadow: 0 0 0 1px #F7ADA9,
					0 0 0 2px #F0726D,
					0 0 0 3px #F4C6C5;
	}
}

textarea {
	min-height: rem-calc(120);
	margin: 0;
}

$input-border-style: 1px solid #BBB;

.input-group {

	.input-group-field {
		border: none;
		border-left: $input-border-style;
		border-top: $input-border-style;
		border-bottom: $input-border-style;
		border-radius: 5px 0 0 5px;
		height: 2rem;
	}
	.input-group-button {
		.button {
			height: 2rem;
			border-right: $input-border-style;
			border-top: $input-border-style;
			border-bottom: $input-border-style;
			border-radius: 0 5px 5px 0;
		}
	}
}
