$booked-lesson-color: #e0f0f3;

.lesson-table {

	.row, .panel-white {
		margin: 0;
	}

	.panel-white {
		padding: 0.8rem 0.5rem;
		color: #989898;
	}

	.lesson-set {
		margin-bottom: 1rem;

		&.unbooked div.lesson-row:nth-child(3) {
			box-shadow: inset 0 -6px 0 -2px $booked-lesson-color,
			inset 0 -7px 0 -2px #edf6f8;
		}

		&.booked div.lesson-row:nth-child(4) {
			background-color: $booked-lesson-color;
			border-top: none;
		}
	}

	.lesson-button-row {
		background-color: $callout-background;
		margin-bottom: 1.5rem;

		div.tabs-title:first-child {
			padding-left: 0;
		}
	}

	.lesson-label {
		padding: 0.5rem 1.25rem;
	}

	.lesson-row {
		border: 1px solid #e7e7e7;
		border-bottom: none;

		.title {
			color: $body-font-color;
		}

		.avatar {
			height: 1.5rem;
			width: 1.5rem;
			border-radius: 50%;
			margin-right: 0.5rem;
		}

		time {
			strong {
				margin-left: 0.75rem;
			}
		}

		.rating {
			display: inline-block;
			vertical-align: top;

			.comment {
				display: inline-block;
				margin: 0 0 0 0.5rem;
			}
		}

		.assessment-feedback {
			background-color: #fffcef;
			padding: 1rem;
			display: none;
			margin-bottom: 1rem;
		}

		.tick-icon,
		.calendar-icon,
		.incomplete-icon,
		.cancel-icon {
			background-repeat: no-repeat;
			background-position: 50% 50%;
			height: 0.9rem;
			width: 1rem;
			background-size: contain;
			display: inline-block;
			margin-right: 0.5rem;
		}

		.calendar-icon {
			background-image: url(../images/icons/calendar.svg);
		}

		.tick-icon {
			background-image: url(../images/icons/tick.svg);
		}

		.incomplete-icon {
			background-image: url(../images/icons/incomplete.svg);
		}

		.cancel-icon {
			background-image: url(../images/icons/cancelled.svg);
		}

		&[class*='highlight']{
			color: $body-font-color;
		}

		&.lesson-row + [class*='highlight'] {
			border-top: none;
		}

		&.highlight-blue {
			background-color: $booked-lesson-color;

			&.bordered {
				border: 2px solid #9bcbde;
				border-bottom: none;
			}
		}

		&.highlight-green {
			background-color: #ecf7f2;
			padding: 0 0.5rem;

			time,
			.avatar,
			p {
				display: inline-block;
				margin-top: 1rem;
				margin-bottom: 1rem;
			}

			time {
				color: #7dbaa7;
			}

			.show-feedback {
				border-top-right-radius: 5px;
				border-top-left-radius: 5px;
				padding-top: 0.65rem;
				padding-bottom: 0.65rem;
				margin-top: 0.8rem;
				font-size: 0.8rem;
				float: right;

				.arrow-down {
					margin: 0.25rem;
				}
			}
		}

		&.highlight-orange {
			background-color: #f4e9e2;

			time {
				color: #dda989;
			}

			.remark {
				color: #a39e9e;
			}
		}

		&.highlight-purple {
			background-color: #eee1e6;

			time {
				color: #d09baf;
			}

			.remark {
				color: #a39e9e;
			}
		}
	}

	.lesson-row:last-child {
		border-bottom: 1px solid #e7e7e7;
	}
}

@include breakpoint(small only) {
	.lesson-table {
		.lesson-row {
			.columns {
				&:last-child {
					margin-bottom: 0;
				}
			}
		}
	}
}
