.reveal-modal-bg {
  position: fixed;
}

div[id^="bookModal"] {

  .modal-title {
    padding-left: 0.75rem;
    padding-right: 0.75rem;
  }

  .teacher-avatar {
    border-radius: 50%;
    margin-bottom: 1rem;
  }

  .teacher-name {
    color: #939598;
  }
}

div[id^="skypeModal"] {

  $progress-img-dimension: 3.5rem;
  max-width: $global-max-width;

  .nav-row {
    margin-top: 1.5rem;
  }

  .progress {
    margin: 2rem 3rem 6rem 3rem;
    position: relative;

    .progress-img {
      background-size: ($progress-img-dimension / 2) ($progress-img-dimension / 2);
      background-repeat: no-repeat;
      background-position: 50% 50%;
      background-color: $primary-color;
      border-radius: 50%;
      height: $progress-img-dimension;
      width: $progress-img-dimension;
      position: absolute;
      top: (-$progress-img-dimension / 2) + ($progress-height / 2);
      text-align: center;

      h5 {
        color: $primary-color;
        font-size: 0.8rem;
        position:absolute;
        top: $progress-img-dimension;
      }

      &.rocket {
        background-image: url(../images/rocket.svg);
      }

      &.skype {
        background-image: url(../images/skype.svg);
      }

      &.enter {
        background-image: url(../images/enter.svg);
      }

      &.progress-0 {
        left: $progress-img-dimension / -2;
      }

      &.progress-50 {
        @include calc("left", "50% - #{$progress-img-dimension} / 2");
      }

      &.progress-100 {
        @include calc("left", "100% - #{$progress-img-dimension} / 2");
      }

      &.disabled {
        background-color: $progress-background;

        h5 {
          color: #888888;
        }
      }
    }
  }
}


@include breakpoint(small only) {

  div[id^="skypeModal"] {
    .row {
      &.medium-unstack {
        > .column, > .columns {
          margin-top: 1rem;
        }
      }
    }
  }

  label[for="skype-name"],
  label[for="mobile-number"] {
    padding: 0;
    margin: 0;
  }

  .progress {
    &[aria-valuenow="10"] {
      .progress-meter {
        width: 15%;
      }
    }

    &[aria-valuenow="60"] {
      .progress-meter {
        width: 65%;
      }
    }

    &[aria-valuenow="90"] {
      .progress-meter {
        width: 85%;
      }
    }
  }
}