.callout {
  margin-bottom: $callout-padding;
}

.callout-alert {
  background-color: $callout-background-alert;
}

.callout-warning {
  background-color: $callout-background-warning;
}

.callout-primary {
  background-color: $callout-background-primary;
}

.callout-success {
  background-color: $callout-background-success;
}

.callout-info {
  background-color: $white;
}

.callout-bordered {
  border: 1px solid #e5e5e4;
}

.callout-rounded {
  border-radius: 5px;
}

.callout-small {
  padding: rem-calc(10);
}

.callout-large {
  padding: rem-calc(30);
}
