$comment-header-height: 3rem;

.callout {
  margin: 0 0 $callout-padding 0;

  &.alert {
    background-color: #F4C6C8;
    margin-top: $callout-padding;
    margin-bottom: 0;

    h4 {
      color: #4E4E4E;
      margin: 0;
    }
  }

  &.warning {
    background-color: #f6dec1;
  }

  &.primary {
    background-color: #bce2ec;
  }

  &.success {
    background-color: #bbe9c5;
  }
}

.comment-box {
  @include callout();
  background-color: $white;
  border-radius: 2px;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;

  .comment-header {
  	min-height: $comment-header-height;

    h5 {
      margin-bottom: 0;
    }

    .avatar, .name {
      display: inline-block;
    }

    .avatar {
      max-height: $comment-header-height - 0.5rem;
      border-radius: 50%;
      margin-right: 0.3rem;
    }

    .title h5 {
      color: $primary-color;
    }

    .score h5 {
      color: #E59C3C;
    }
  }
}


.panel-booking {
  @include callout();

  .booking-text {
    margin: 0;
  }
}

.panel-white {
  @include callout();
  background-color: $white;
  margin-top: $callout-padding;

  &.radius {
    border-radius: 2px;
  }

  &.bordered {
    border: 1px solid #E5E5E4;
  }
}

.credit-status-panel {
  @include callout();
  margin: 0;
  border: 1px solid #dddddc;

  h6 {
    margin: 0;
    color: #989898;
  }

  &.row {
    padding: 0.5rem 0;
  }

  .status {
    font-size: 2rem;
    color: #58595b;
  }

  .remaining-panel {
    &:first-child {
      border-right: 1px solid #e7e8e9;
    }
  }
}

@include breakpoint(extramedium down) {
  .panel-booking {
    strong {
      display: block;
    }
  }
}

@include breakpoint(small only) {
  .comment-box {
    .comment-section {
      .score h5 {
        text-align: left;
      }
    }
  }

  .credit-status-panel {
    max-width: none;

    h6 {
      line-height: 1.2;
    }

    .status {
      font-size: 1rem;
    }
  }
}