.progress {
  margin: 2rem 3rem 6rem;
  position: relative;

//TODO:Make mixin for this too
  &[aria-valuenow="10"] {
    .progress-meter {
      width: 10%;
    }
  }

  &[aria-valuenow="60"] {
    .progress-meter {
      width: 60%;
    }
  }

  &[aria-valuenow="90"] {
    .progress-meter {
      width: 90%;
    }
  }
}

.progress-checkpoint {
  background-color: $primary-color;
  height: $progress-checkpoint-size;
  width: $progress-checkpoint-size;
  padding-top: $progress-checkpoint-size / 4;
  border-radius: 50%;
  position: absolute;
  top: (-$progress-checkpoint-size / 2) + ($progress-height / 2);
  text-align: center;

  > h5 {
    color: $primary-color;
    font-size: 0.8rem;
    position: absolute;
    top: $progress-checkpoint-size;
  }

  &.is-disabled {
    background-color: $progress-background;

    > h5 {
      color: #888;
    }
  }
}

//TODO: write this as a mixin
.progress-0 {
  left: $progress-checkpoint-size / -2;
}

.progress-50 {
  left: calc(50% - #{$progress-checkpoint-size} / 2);
}

.progress-100 {
  left: calc(100% - #{$progress-checkpoint-size} / 2);
}

@include breakpoint(small only) {
  .progress {
    margin-bottom: 1rem;

    &[aria-valuenow="10"] {
      .progress-meter {
        width: 15%;
      }
    }

    &[aria-valuenow="60"] {
      .progress-meter {
        width: 65%;
      }
    }

    &[aria-valuenow="90"] {
      .progress-meter {
        width: 85%;
      }
    }
  }
}
