.progress {
  @include progress-widths;

  margin: 2rem 3rem 6rem;
  position: relative;
}

.progress-checkpoint {
  background-color: $primary-color;
  height: $progress-checkpoint-size;
  width: $progress-checkpoint-size;
  padding-top: $progress-checkpoint-size / 4;
  border-radius: 50%;
  position: absolute;
  top: (-$progress-checkpoint-size / 2) + ($progress-height / 2);
  text-align: center;

  > p {
    color: $primary-color;
    font-size: 0.8rem;
    position: absolute;
    top: $progress-checkpoint-size;
  }

  &.is-disabled {
    background-color: $progress-background;

    > p {
      color: #888;
    }
  }
}

@include progress-checkpoint-spacing;

@include breakpoint(small only) {
  .progress {
    margin-bottom: 1rem;

    &[aria-valuenow="10"] {
      .progress-meter {
        width: 15%;
      }
    }

    &[aria-valuenow="60"] {
      .progress-meter {
        width: 65%;
      }
    }

    &[aria-valuenow="90"] {
      .progress-meter {
        width: 85%;
      }
    }
  }
}
