.tabs {
  a {
    background-color: #f3f3f3;
    font-size: 0.9rem;
  }

  .is-active a {
    background-color: #c7c7c7;
    box-shadow: inset 1px 1px 3px #8e8c8c;
  }
}

.tabs-rounded {
  a {
    border-radius: 1000px;
  }
}

.tabs-alt {
  a {
    background-color: $white;
    color: #989898;
    text-align: center;

    &:hover {
      background-color: darken($white, 10%);
      color: #989898;
    }
  }

  .is-active a {
    color: #58595b;
    background-color: $white;
    box-shadow: none;
    border: 2px solid #bbbdbf;
  }
}
