.reveal-modal-bg {
  position: fixed;
}

[id^="bookModal"] {

  .modal-title {
    padding-left: 0.75rem;
    padding-right: 0.75rem;
  }

  .teacher-avatar {
    border-radius: 50%;
    margin-bottom: 1rem;
  }

  .teacher-name {
    color: #939598;
  }
}

[id^="skypeModal"] {
  max-width: $global-max-width;

  .nav-row {
    margin: 1.5rem 0;
  }
}



@include breakpoint(small only) {

  [id^="skypeModal"] {
    &.medium-unstack {
      > .column,
      > .columns {
        margin-top: 1rem;
      }
    }
  }

  [for="skype-name"],
  [for="mobile-number"] {
    padding: 0;
    margin: 0;
  }

  .progress {
    &[aria-valuenow="10"] {
      .progress-meter {
        width: 15%;
      }
    }

    &[aria-valuenow="60"] {
      .progress-meter {
        width: 65%;
      }
    }

    &[aria-valuenow="90"] {
      .progress-meter {
        width: 85%;
      }
    }
  }
}
