.callout {
  margin: $callout-padding 0;

  &.alert {
    background-color: $callout-background-alert;
  }

  &.warning {
    background-color: $callout-background-warning;
  }

  &.primary {
    background-color: $callout-background-primary;
  }

  &.success {
    background-color: $callout-background-success;
  }

  &.info {
    background-color: $white;
  }

  &.bordered {
    border: 1px solid #e5e5e4;
  }

  &.radius {
    border-radius: 2px;
  }
}

.credit-status-panel {
  background-color: $callout-background;
  margin: 0;
  border: 1px solid #ddd;

  h6 {
    margin: 0;
    color: #989898;
  }

  &.row {
    padding: 0.5rem 0;
  }

  .status {
    font-size: 2rem;
    color: #58595b;
  }

  .remaining-panel {
    &:first-child {
      border-right: 1px solid #e7e8e9;
    }
  }
}

@include breakpoint(small only) {
  .credit-status-panel {
    max-width: none;

    h6 {
      line-height: 1.2;
    }

    .status {
      font-size: 1.5rem;
    }
  }
}
