.tabs {
  margin: 1rem 0;

  .button {
    padding: $button-padding;
    background-color: #f3f3f3;
    color: $body-font-color;

    &.selected,
    &[aria-selected="true"] {
      background-color: #c7c7c7;
      box-shadow: inset 1px 1px 3px #8e8c8c;
    }

    &:hover {
      background-color: darken(#e8e8e8, 10%);
    }
  }
}

.tabs-alt {
  .button {
    background-color: $white;
    color: #989898;
    border-radius: 0;

    &[aria-selected="true"] {
      color: #58595b;
      background-color: $white;
      box-shadow: none;
      border: 2px solid #bbbdbf;
    }
  }
}

%tab-icon {
  background-size: 1rem 1rem;
  height: 1rem;
  width: 1rem;
  display: inline-block;
  background-repeat: no-repeat;
  margin-right: 0.5rem;
}

.get-started-tab {

  .get-started-icon {
    @extend %tab-icon;
    background-image: url('../images/icons/get-started.svg');
  }
}

.faq-tab {

  .faq-icon {
    @extend %tab-icon;
    background-image: url('../images/icons/faq-question.svg');
  }
}

.booked-lessons-tab {

  .bookmark-icon {
    @extend %tab-icon;
    background-image: url('../images/icons/bookmark.svg');
  }
}

.study-tasks-tab {

  .lamp-icon {
    @extend %tab-icon;
    background-image: url('../images/icons/lamp.svg');
  }
}

.tabs-content {
  &.callout {
    background-color: $callout-background;
  }

  .tabs-panel {
    padding: 0;
  }
}
