.lesson-table {
	.lesson-row {

		.columns {
			margin-bottom: 1rem;
		} 

		.title {
			color: $primary-color;

		}

		.pass {
			&[passed="true"] {
				color: #42A87B;
			}

			&[passed="false"] {
				color: #EA6962;
			}
		}
	}
}

@include breakpoint(small only) { 
.lesson-table {
	.lesson-row {

		.columns {
			margin-bottom: 0.75rem;

			&:last-child {
				margin-bottom: 0;
			}
		} 
	}
}
}