.top-bar {

	line-height: rem-calc(54);
	height: rem-calc(54);
	
	& > .row {
		margin: 0 auto;
		max-width: 62.5rem;
		padding: 0 3rem;	
	}

	.top-bar-title,
	a {
		color: $white;
	}
	
	.top-bar-title {
		display: inline-block;
	}

	.top-bar-right {
		padding: 0.5rem 0;
	}
	
}


@include breakpoint(small only) {
	.top-bar {

		padding: 0 1.25rem;

		& > .row {
		max-width: 100%;
		padding: 0;	
	}
		.top-bar-right,
		.top-bar-left {
			padding: 0;
		}
	}
}


// @media #{$small-only} { 
// 	.top-bar {
// 		padding: 0 $callout-padding;
// 	}	
// }