header {
	&, .title-bar {
		background-color: $topbar-background;
	}

	.top-bar {
		padding: 0 3rem;
		max-width: 62.5rem;
		margin: 0 auto;

		.menu-text,
		a {
			color: $white;
		}

		.menu-text {
			font-weight: 400;

			a {
				padding: 0;
			}
		}
	}
}

.tabs {
	.tabs-title {
		> a.button {
			padding: $button-padding;
		}
	}
}



.tabs-content {
	&.callout {
		background-color: $callout-background;
	}

	.tabs-panel {
		padding: 0;
	}
}

@include breakpoint(medium down) {
	.title-bar {
		padding-left: 3rem;
		padding-right: 3rem;
	}

	.top-bar {
		.top-bar-left {
			display: none;
		}

		.top-bar-right {
			float: none;
			.menu {
				> li[role="menuitem"] {
					display: block;
					padding-left: 2rem;
				}
			}
		}
	}
}

@include breakpoint(small only) {
	.title-bar {
		padding-left: 1.25rem;
		padding-right: 1.25rem;
	}
	.top-bar {
		.top-bar-right {
			.menu {
				> li[role="menuitem"] {
					padding-left: 0;
				}
			}
		}
	}
}