$comment-header-height: 3rem;

.callout {

  &.alert {
    background-color: #F8E4E4;
    margin-top: 1.5rem;
    box-shadow: 0 0 0 1px #D1C1C1,
          0 0 0 2px #D47A7B,
          0 0 0 3px #F4D7D7;
    padding: 0.75rem;

          h4 {
            color: #ED696A;
            margin: 0;
          }
  }

  &.primary {
    border: 1px solid #9acce0;
    color: #4e4e4e;
    border-radius: 5px;
    margin: 0 0 $callout-padding 0;
  }
}

.comment-box {
  @include callout();
  background-color: $white;
  border-radius: 2px;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;

  .comment-header {
  	min-height: $comment-header-height;

    h5 {
      margin-bottom: 0;
    }

  	.avatar, .name {
  		display: inline-block;
  	}

    .avatar {
      max-height: $comment-header-height - 0.5rem;
      border-radius: 50%;
      margin-right: 0.3rem;
    }

    .title h5 {
      color: $primary-color;
    }

    .score h5 {
      color: #E59C3C;
    }
  }
}


.panel-booking {
  @include callout();

  .booking-text {
    margin: 0;
  }

  .lesson-title {
    color: #0088CF;
    font-weight: bold;
  }

}

.panel-white {
  @include callout();
  background-color: $white;
  margin-top: $callout-padding;

  &.radius {
    border-radius: 2px;
  }
}

@include breakpoint(small only) { 
  .comment-box {
    .comment-section {
      .score h5 {
      text-align: left;
    }
    }
  }

  .panel-booking {
    .lesson-title {
      display: block;
    }
  }
}