<div class="tabs-panel" id="booked-lessons">
	<div class="lesson-table">
		<div class="tabs lesson-button-row radius row" data-tabs="" id="lesson-table-tabs">
			<div class="medium-3 columns tabs-title is-active">
				<a href="#current-bookings-panel" aria-selected="true" id="current-bookings-button" class="button white">Current bookings</a>
			</div>
			<div class="medium-3 columns tabs-title">
				<a href="#completed-lessons-panel" id="completed-lessons-button" class="button white">Completed</a>
			</div>
			<div class="medium-3 columns tabs-title">
				<a href="#incompleted-lessons-panel" id="incompleted-lessons-button" class="button white">Incompleted</a>
			</div>
			<div class="medium-3 columns tabs-title">
				<a href="#cancelled-lessons-panel" id="cancelled-lessons-button" class="button white">Cancelled</a>
			</div>
		</div>
		<div class="tabs-content" data-tabs-content="lesson-table-tabs">
			<div id="current-bookings-panel" class="tabs-panel is-active">
				{{#each current-bookings}}
					<div class="lesson-set">
						{{> lesson current=true highlightClass="highlight-blue" iconClass="calendar-icon"}}
					</div>
				{{/each}}
			</div>
		</div>
		<div id="completed-lessons-panel" class="tabs-panel">
			{{#each current-bookings}}
				<div class="lesson-set">
					{{> lesson completed=true highlightClass="highlight-green" iconClass="tick-icon"}}
				</div>
			{{/each}}
		</div>
		<div id="incompleted-lessons-panel" class="tabs-panel lesson-set">
			{{#each current-bookings}}
				<div class="lesson-set">
					{{> lesson incomplete=true highlightClass="highlight-orange" iconClass="incomplete-icon"}}
				</div>
			{{/each}}
		</div>
		<div id="cancelled-lessons-panel" class="tabs-panel lesson-set">
			{{#each current-bookings}}
				<div class="lesson-set">
					{{> lesson cancelled=true highlightClass="highlight-purple" iconClass="cancel-icon"}}
				</div>
			{{/each}}
		</div>
	</div>
</div>