<div class="row day-picker align-middle">
	<div class="small-2 columns previous-week">前の週</div>
	<ul class="day-row columns align-center row">
		<li class="columns day selected">
			<div>24/06</div> 月
		</li>
		<li class="columns day">
			<div class="date">25/06</div> 火
		</li>
		<li class="columns day">
			<div class="date">26/06</div> 水
		</li>
		<li class="columns day">
			<div class="date">27/06</div> 木
		</li>
		<li class="columns day">
			<div class="date">28/06</div> 金
		</li>
		<li class="columns day weekend">
			<div class="date">29/06</div> 土
		</li>
		<li class="columns day weekend">
			<div class="date">30/06</div> 日
		</li>
	</ul>
	<div class="small-2 columns next-week">次の週</div>
</div>