<div class="tabs-panel faq-page" id="faq">
	<div class="row callout callout-info callout-bordered medium-unstack">
		<div class="medium-9 columns">
			<h4>Frequently Asked Questions</h4>
			<p>Here are some frequently asked questions. If your query is not answered here, <a href="#" class="text-underline font-weight-bold text-secondary">contact support</a>.</p>
		</div>
		<div class="medium-3 columns">
			<img src="assets/images/faq/faq.svg" class="hide-for-small-only">
		</div>
	</div>
	<div class="row">
		<div class="columns">
			<ul class="faq-contents">
				<li><a href="#preparation" class="text-underline">Preparation</a></li>
				<li><a href="#e-learning-course" class="text-underline">Taking the e-learning course</a></li>
				<li><a href="#manage-speaking" class="text-underline">Managing your booked speaking lessons</a></li>
				<li><a href="#taking-speaking" class="text-underline">Taking the online speaking course</a></li>
				<li><a href="#others" class="text-underline">Others</a></li>
			</ul>
		</div>
	</div>
	{{> preparation}}
	{{> e-learning-course}}
	{{> manage-speaking}}
	{{> taking-speaking}}
	{{> others}}
</div>