<div class="tabs-panel" id="faq">
	<div class="row panel-white bordered medium-unstack">
		<div class="medium-9 columns">
			<h3>Frequently Asked Questions</h3>
			<p class="intro">Here are some frequently asked questions. If your query is not answered here, <a href="#" class="underline bold grey">contact support</a>.</p>
		</div>
		<div class="medium-3 columns">
			<img src="assets/images/icons/faq.svg">
		</div>
	</div>
	<div class="row">
		<div class="columns">
			<ul class="faq-contents">
				<li><a href="#preparation" class="underline">Preparation</a></li>
				<li><a href="#e-learning-course" class="underline">Taking the e-learning course</a></li>
				<li><a href="#manage-speaking" class="underline">Managing your booked speaking lessons</a></li>
				<li><a href="#taking-speaking" class="underline">Taking the online speaking course</a></li>
				<li><a href="#others" class="underline">Others</a></li>
			</ul>
		</div>
	</div>
	{{> preparation}}
	{{> e-learning-course}}
	{{> manage-speaking}}
	{{> taking-speaking}}
	{{> others}}
</div>