<div class="tabs-panel is-active" id="faq">
	<div class="row panel-white bordered medium-unstack">
		<div class="medium-8 columns">
			<h3>Frequently Asked Questions</h3>
			<p>Here are some frequently asked questions. If your query is not answered here, <a href="#" class="underline bold grey">contact support</a>.</p>
		</div>
	</div>
	<ul class="faq-contents">
		<li><a href="#" class="underline">Logging in FAQ</a></li>
		<li><a href="#" class="underline">Skype FAQ</a></li>
		<li><a href="#" class="underline">Speaking Lessons FAQ</a></li>
		<li><a href="#" class="underline">Booking System FAQ</a></li>
		<li><a href="#" class="underline">Other problems FAQ</a></li>
	</ul>
</div>