<div class="reveal" id="feedbackModal" data-reveal >
	<div class="row medium-unstack">
		<div class="small-12 columns">
			<h3 class="blue">Help us improve the quality of your service</h3>
		</div>
		<div class="small-6 columns">
			<label for="mobile-number" class="middle"><strong>Type of enquiry:</strong></label>
		</div>
		<div class="small-6 columns">
			<div class="input-group">
				<input class="input-group-field" type="text" placeholder="Design Suggestion">
				<div class="input-group-button">
					<a class="button arrow-down center light-grey"></a>
				</div>
			</div>
		</div>
		<div class="small-12 columns">
			<textarea placeholder="add your comment here"></textarea>
		</div>
		<div class="medium-3 columns">
			<button class="button round expanded">Leave Feedback</button>
		</div>
	</div>
</div>