<footer class="footer">
	<div class="row align-center">
		<div class="small-12 medium-4 medium-offset-4 columns">
			<small>Copyright 2016 Reallyenglish. All rights reserved.</small>
		</div>
<!-- 		<div class="small-12 medium-3 medium-offset-3 columns">
			<button class="button round dark-grey expanded" type="button" data-open="feedbackModal">Leave Feedback</button>
		</div> -->
	</div>
	<div class="reveal" id="feedbackModal" data-reveal >
		<div class="row medium-unstack">
			<div class="medium-9 columns">
				<h3 class="blue">Help us improve the quality of your service</h3>
				<div class="row">
					<div class="small-6 medium-3 columns">
						<label for="mobile-number" class="middle"><strong>Type of enquiry:</strong></label>
					</div>
					<div class="small-6 medium-6 columns">
						<div class="input-group">
							<input class="input-group-field" type="text" placeholder="Design Suggestion">
							<div class="input-group-button">
								<a class="button arrow-down center light-grey"></a>
							</div>
						</div>
					</div>
				</div>
				<textarea placeholder="add your comment here"></textarea>
			</div>
			<div class="medium-3 align-bottom columns">
				<button class="button round expanded">Leave Feedback</button>
			</div>
		</div>
	</div>
</footer>