<div class="tabs-panel is-active" id="get-started">
	<div class="row panel-white bordered medium-unstack">
		<div class="medium-9 columns">
			<h3>EZ to Talk is a set of online English speaking lessons supporting the Practical English 6 e-learning course.</h3>
			<p class="intro">EZ to Talk consists of preparation lessons (e-learning), live lessons (speaking lessons) and follow-up lessons (e-learning). Have a look at the steps below to find out how to begin studying.</p>
		</div>
		<div class="medium-3 columns">
			<img src="assets/images/how-to-study.svg">
		</div>
	</div>
	<div class="row panel-white bordered">
		<div class="small-12 medium-6 columns">
			<h4 class="alt bold">1 - Find the lesson you need, and download the PDF teaching materials.</h4>
			<p class="intro">Make a note of the lesson title and whether it is Grammar, Reading or Listening.</p>
		</div>
		<div class="medium-6 columns">
			<img class="bordered" src="assets/images/1-find-first-lesson.png">
		</div>
	</div>
</div>