<header>
	<section class="primary-nav">
		<div class="title-bar" data-responsive-toggle="main-menu" data-hide-for="extramedium">
			<button class="menu-icon" type="button" data-toggle></button>
			<div class="title-bar-title">Reallyenglish</div>
		</div>
		<nav class="top-bar" id="main-menu">
			<div class="top-bar-left">
				<ul class="dropdown menu" data-dropdown-menu>
					<li class="menu-text"><a href="/">Reallyenglish</a></li>
				</ul>
			</div>
			<div class="top-bar-right">
				<ul class="menu" data-responsive-menu="drilldown extramedium-dropdown">
					<li><a data-open="skypeModal1">Orientation</a></li>
					<li><a href="booking.html">Book a lesson</a></li>
					<li><a href="how-to-study.html">How to study</a></li>
					<li><a href="#">Change Skype ID</a></li>
					<li><a href="#">My page</a></li>
				</ul>
			</div>
		</nav>
	</section>
	<section class="header-row">
		<div class="row">
			<div class="small-3 columns">
				<img src="assets/images/eztotalk-logo.gif">
			</div>
			<div class="small-5 small-offset-4 columns">
				<section class="credit-status-panel row">
					<div class="remaining-panel small-6 columns text-align-left">
						<div class="row">
							<div class="small-4 columns">
								<h6 class="status">26</h6>
							</div>
							<div class="small-8 columns">
								<h6>credits <br> remaining</h6>
							</div>
						</div>
					</div>
					<div class="remaining-panel small-6 columns">
						<div class="row">
							<div class="small-4 columns">
								<h6 class="status">26</h6>
							</div>
							<div class="small-8 columns">
								<h6>speaking <br>lessons to go</h6>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
</header>