<div class="reveal" id="skypeModal1" data-reveal>
	<div class="progress" role="progressbar" tabindex="0" aria-valuenow="10" aria-valuemin="0" aria-valuetext="10 percent" aria-valuemax="100">
		<div class="progress-meter"></div>
		<div class="progress-img rocket progress-0">
			<h5>Introduction</h5>
		</div>
		<div class="progress-img skype progress-50 disabled">
			<h5>Get Skype</h5>
		</div>
		<div class="progress-img enter progress-100 disabled">
			<h5>Enter Skype ID</h5>
		</div>
	</div>
	<div class="row medium-unstack">
		<div class="hide-for-small-only medium-4 medium-offset-0 columns">
		<img src="assets/images/registration-graphics1.png" alt="Registration Step Image">
		</div>
		<div class="medium-8 columns">
			<h3 class="blue">Getting started</h3>
			<p>Welcome to your online speaking course. This course is a mixture of studying online lessons with your Tutor and some self study lessons. Please use this course to book all your online speaking lessons.</p>
			<div class="row align-right">
				<div class="medium-5 columns">
					<a class="button round expanded" data-open="skypeModal2">Next</a>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="reveal" id="skypeModal2" data-reveal>
	<div class="progress" role="progressbar" tabindex="0" aria-valuenow="60" aria-valuemin="0" aria-valuetext="60 percent" aria-valuemax="100">
		<div class="progress-meter"></div>
		<div class="progress-img rocket progress-0">
			<h5>Introduction</h5>
		</div>
		<div class="progress-img skype progress-50">
			<h5>Get Skype</h5>
		</div>
		<div class="progress-img enter progress-100 disabled">
			<h5>Enter Skype ID</h5>
		</div>
	</div>
	<div class="row medium-unstack">
		<div class="hide-for-small-only medium-4 medium-offset-0 columns">
		<img src="assets/images/registration-graphics2.png" alt="Registration Step Image">
		</div>
		<div class="medium-8 columns">
			<h3 class="blue">Get Skype for your online lessons</h3>
			<p>Our teachers use Skype to contact you for booked lessons. In order for teachers to contact you for a lesson you need to install Skype.</p>
			<p>If you don't have Skype please <a href="http://www.skype.com">install it from here</a></p>
			<div class="row align-middle">
				<div class="small-6 columns align-center">
					<a href="">Get Skype</a>
				</div>
				<div class="small-6 columns">
					<a class="button round expanded" data-open="skypeModal3">Ok I've installed it</a>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="reveal" id="skypeModal3" data-reveal>
	<div class="progress" role="progressbar" tabindex="0" aria-valuenow="90" aria-valuemin="0" aria-valuetext="90 percent" aria-valuemax="100">
		<div class="progress-meter"></div>
		<div class="progress-img rocket progress-0">
			<h5>Introduction</h5>
		</div>
		<div class="progress-img skype progress-50">
			<h5>Get Skype</h5>
		</div>
		<div class="progress-img enter progress-100 disabled">
			<h5>Enter Skype ID</h5>
		</div>
	</div>
	<form data-abide novalidate data-live-validate="true">
		<div class="row medium-unstack">
			<div class="medium-8 columns">
				<h3 class="blue">One last thing</h3>
				<p>Create a Skype account <a>here</a> and make note of the Skype name you have chosen.</p>
				<div class="row">
					<div class="small-3 columns">
						<label for="skype-name" class="middle">Skype Name*</label>
					</div>
					<div class="small-9 columns">
						<input type="text" id="skype-name" required aria-invalid="false">
					</div>
				</div>
				<div class="row">
					<div class="small-3 columns">
						<label for="nickname" class="middle">Nickname*</label>
					</div>
					<div class="small-9 columns">
						<input type="text" id="nickname" required aria-invalid="false">
					</div>
				</div>
				<div class="row">
					<div class="small-3 columns">
						<label for="mobile-number" class="middle">Mobile Number</label>
					</div>
					<div class="small-9 columns">
						<input type="text" id="mobile-number">
					</div>
				</div>
				<input id="agree-checkbox" type="checkbox" name="agree"><label for="agree-checkbox">I agree to the privacy policy</label>
			</div>
			<div class="hide-for-small-only medium-offset-0 medium-4 columns">
			<img src="assets/images/registration-graphics3.png" alt="Registration Step Image">
				<button class="button round float-right" type="submit">Save and continue</button>
			</div>
		</div>
		<div class="row">
			<div class="small-12 columns">
				<div data-abide-error class="alert callout" style="display: none;">
					<h4>Whoops, you need to finish the form!</h4>
					<p>Please fill in all fields marked with a star.</p>
				</div>
			</div>
		</div>
	</form>
</div>