<div class="reveal reveal-large" id="skypeModal1" data-reveal>
	<div class="progress" role="progressbar" tabindex="0" aria-valuenow="10" aria-valuemin="0" aria-valuetext="10 percent" aria-valuemax="100">
		<div class="progress-meter"></div>
		<div class="progress-checkpoint progress-0">
			<span class="icon icon-rocket"></span>
			<h5>Introduction</h5>
		</div>
		<div class="progress-checkpoint progress-50 is-disabled">
			<span class="icon icon-skype"></span>
			<h5>Get Skype</h5>
		</div>
		<div class="progress-checkpoint progress-100 is-disabled">
			<span class="icon icon-enter"></span>
			<h5>Enter Skype ID</h5>
		</div>
	</div>
	<div class="row medium-unstack">
		<div class="hide-for-small-only medium-4 medium-offset-0 columns">
			<img src="assets/images/orientation/registration-graphics1.png" alt="Registration Step Image">
		</div>
		<div class="medium-8 columns">
			<h3 class="text-primary">Getting started</h3>
			<p>Welcome to your online speaking course. This course is a mixture of studying online lessons with your Tutor and some self study lessons. Please use this course to book all your online speaking lessons.</p>
		</div>
	</div>
	<div class="row nav-row">
		<div class="medium-3 medium-offset-9 columns">
			<a class="button  button-round expanded" data-open="skypeModal2">Next</a>
		</div>
	</div>
</div>
<div class="reveal reveal-large" id="skypeModal2" data-reveal>
	<div class="progress" role="progressbar" tabindex="0" aria-valuenow="60" aria-valuemin="0" aria-valuetext="60 percent" aria-valuemax="100">
		<div class="progress-meter"></div>
		<div class="progress-checkpoint progress-0">
			<span class="icon icon-rocket"></span>
			<h5>Introduction</h5>
		</div>
		<div class="progress-checkpoint progress-50">
			<span class="icon icon-skype"></span>
			<h5>Get Skype</h5>
		</div>
		<div class="progress-checkpoint progress-100 is-disabled">
			<span class="icon icon-enter"></span>
			<h5>Enter Skype ID</h5>
		</div>
	</div>
	<div class="row medium-unstack">
		<div class="hide-for-small-only medium-4 columns">
			<img src="assets/images/orientation/registration-graphics2.png" alt="Registration Step Image">
		</div>
		<div class="medium-8 columns">
			<h3 class="text-primary">Get Skype for your online lessons</h3>
			<p>Our teachers use Skype to contact you for booked lessons. In order for teachers to contact you for a lesson you need to install Skype.</p>
			<p>If you don't have Skype please <a href="http://www.skype.com">install it from here</a></p>
		</div>
	</div>
	<div class="row nav-row">
		<div class="small-2 columns align-center">
			<a href="" data-open="skypeModal1">Back</a>
		</div>
		<div class="small-offset-3 small-7 columns">
			<a class="button button-round expanded float-right" data-open="skypeModal3">Ok I've installed it</a>
		</div>
	</div>
</div>
<div class="reveal reveal-large padding-bottom-0" id="skypeModal3" data-reveal>
	<div class="progress" role="progressbar" tabindex="0" aria-valuenow="90" aria-valuemin="0" aria-valuetext="90 percent" aria-valuemax="100">
		<div class="progress-meter"></div>
		<div class="progress-checkpoint progress-0">
			<span class="icon icon-rocket"></span>
			<h5>Introduction</h5>
		</div>
		<div class="progress-checkpoint progress-50">
			<span class="icon icon-skype"></span>
			<h5>Get Skype</h5>
		</div>
		<div class="progress-checkpoint progress-100 is-disabled">
			<span class="icon icon-enter"></span>
			<h5>Enter Skype ID</h5>
		</div>
	</div>
	<form data-abide novalidate data-live-validate="true">
		<div class="row medium-unstack">
			<div class="medium-8 columns">
				<h3 class="text-primary">One last thing</h3>
				<p>Create a Skype account <a>here</a> and make note of the Skype name you have chosen.</p>
				<div class="row">
					<div class="small-4 medium-3 columns">
						<label for="skype-name" class="middle">Skype Name*</label>
					</div>
					<div class="small-8 medium-9 columns">
						<input type="text" id="skype-name" required aria-invalid="false">
					</div>
				</div>
				<div class="row">
					<div class="small-4 medium-3 columns">
						<label for="nickname" class="middle">Nickname*</label>
					</div>
					<div class="small-8 medium-9 columns">
						<input type="text" id="nickname" required aria-invalid="false">
					</div>
				</div>
			</div>
			<div class="hide-for-small-only medium-offset-0 medium-4 columns">
				<img src="assets/images/orientation/registration-graphics3.png" alt="Registration Step Image">
			</div>
		</div>
		<div class="row margin-bottom-2">
			<div class="small-2 columns">
				<a data-open="skypeModal2">Back</a>
			</div>
			<div class="small-offset-3 small-7 columns">
				<button class="button button-round expanded float-right" type="submit">Save and continue</button>
			</div>
		</div>
		<div class="row">
			<div class="columns">
				<div data-abide-error class="callout callout-alert" style="display: none;">
					<h4><strong>Whoops, you need to finish the form!</strong></h4>
					<p>Please fill in all fields marked with a star.</p>
				</div>
			</div>
		</div>
	</form>
</div>