<div class="reveal" id="bookModal" data-reveal>
	<div class="row">
		<h3 class="columns hide-for-small-only">Teacher Introduction</h3>
		<div class="medium-3 columns float-right">
			<img src="assets/images/avatar.png" class="image-circle hide-for-small-only">
			<h4 class="text-secondary text-align-center">Eunice</h4>
		</div>
		<div class="hide-for-small-only medium-9 columns">
			<p>Hello there students, it is my pleasure to teach you English
				language here in QQE. <br>
				I'll make sure that you will be comfortable in learning English
				language from me. I'll make sure also that you will have fun
				in our class because we will have lots of exciting activities. <br>
				So I am looking forward to see you in one of my classes.
				Have a good day ahead!
			</p>
		</div>
	</div>
	<div class="row">
		<div class="small-12 columns">
			<div class="callout">
				<h3>Confirm Speaking Lesson</h3>
				<div class="lesson-set">
					<div class="callout callout-info callout-radius row medium-unstack small-collapse medium-uncollapse lesson">
						<div class="hide-for-small-only medium-1 columns">
							<span class="icon icon-speaking"></span>
						</div>
						<div class="medium-6 columns"><strong>Good Food</strong></div>
						<div class="medium-2 medium-offset-3 columns">Speaking</div>
					</div>
					<div class="callout callout-info callout-radius row medium-unstack small-collapse medium-uncollapse lesson is-booked">
						<div class="medium-offset-1 medium-4 columns">
							<img class="lesson-avatar hide-for-small-only" src="assets/images/avatar.png">
							Lesson with Simon
						</div>
						<div class="medium-offset-2 medium-5 columns ">
							<div class="icon icon-calendar hide-for-small-only"></div>
							<time>14:30pm <strong>Fri 2 July 2016</strong></time>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="medium-7 columns">
						<h4>Your Skype name</h4>
						<input type="text">
					</div>
					<div class="medium-5 columns">
						<p>Eunice will contact you on Skype
							just before the lesson begins. <br>
							If there’s a problem, try contacting her instead: <strong>qqe-eunice</strong>
						</p>
					</div>
				</div>
				<div class="row">
					<div class="small-8 medium-3 columns float-right">
						<button class="button button-round expanded">Book lesson</button>
					</div>
					<div class="small-4 medium-2 columns">
						<a class="text-secondary text-underline" href="#">Cancel</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="row hide-for-small-only">
		<div class="columns">
			<div class="callout callout-warning">
				<p>If you book this lesson within three hours of the start time, canceling it will result in the loss of a credit.</p>
			</div>
		</div>
	</div>
</div>