.container {
  padding: 0 3rem;
  max-width: $global-max-width;
  margin: 0 auto;
}

.row-alt {
  padding-top: 1rem;
  padding-bottom: 1rem;
  background-color: #fff;
  border-bottom: 1px solid #dcdcdc;
  margin-bottom: 1rem;
}


@include breakpoint(small only) {
  .container {
    padding: 0;

    .container-title {
      margin: 0 1.5rem 1rem;
    }

    .col-wrap-margin {
      margin-bottom: 1rem;
    }
  }

  .row-alt {
    padding: 0 1rem;
  }
}
