.container {
	padding: 1rem 3rem;
  max-width: $global-max-width;
  margin: 0 auto;
}

.row {
  .align-center {
    text-align: center;
  }

  .align-right {
    text-align: right;
  }

  &.white {
    background-color: #fff;
  }
}
